@charset "UFT-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

img {
    width: 230vw;
} 

body {
    background-image: linear-gradient(to right, #910AF8, #DC04E2, #FC02CC, #FF0A61, #FF3626, rgb(245, 161, 5));
}

::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    background-image: linear-gradient(to right, #910AF8, #DC04E2, #FC02CC, #FF0A61, #FF3626, rgb(245, 161, 5));
    color: white;
    padding: 20px;
}
a:hover {
    text-decoration: underline;
}
